 <div class="user-details">
  <h1> About me </h1>
       
    <p align="justify">
I grew up in Greece where I studied marketing and advertising, caring to make a difference. I am a fast learner and a tireless seeker to extend my skills. Nowadays, I am playing around with video making process as my dream is to become a mixed media visual artist. I join to travel, watch movies (all night long), and observe the world from my point of view.
   
      <center><a class="project-link" target="_blank" href="cv/resume_ampatzi_vasiliki.pdf">Resume</a></center>

 </p>    
</div>

  