<div class="user-details">
  <h1> Portfolio </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/port.foto.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <p align="justify">From when I remember, I was trying to give a different meaning to what I used to see.  In other words, I always liked to observe motives and images, in order to detect different shapes which may tell a story. My work originates from my endeavor to take a deeper look at the world around. My curiosity drove me to a self-discovery journey, in which I explore my life queries.
</p>
     <center><a class="project-link" target="_blank" href="portfolio.html">Check it out</a></center>
  </div>
</div>

